In [1]:
import numpy as np
import tensorflow as tf
from tqdm import tqdm_notebook
import pandas as pd
from keras.utils import np_utils
%matplotlib inline

Using TensorFlow backend.

In [2]:
trainingPercent = 70
validationPercent = 10
testingPercent = 20

     Month  Year  Percent On-Time
0        4  2009             84.0
1        5  2009             83.0
2        6  2009             82.0
3        7  2009             83.6
4        8  2009             83.2
5        9  2009             81.3
6       10  2009             82.7
7       11  2009             83.7
8       12  2009             82.2
9        1  2009             82.9
10       2  2009             83.4
11       3  2009             84.0
12       4  2010             83.7
13       5  2010             82.6
14       6  2010             83.4
15       7  2010             84.9
16       8  2010             85.0
17       9  2010             84.4
18      10  2010             84.7
19      11  2010             86.2
20      12  2010             82.7
21       4  2011             86.9
22       5  2011             85.9
23       6  2011             88.1
24       7  2011             88.3
25       8  2011             88.0
26       9  2011             84.9
27      10  2011             86.5
28      11  2011             88.5
29      12  2011             89.4
..     ...   ...              ...
675      7  2017             99.3
676      8  2017             99.6
677      9  2017             99.7
678     10  2017             99.8
679     11  2017            100.0
680     12  2017             99.7
681      1  2017             98.6
682      2  2017             99.8
683      3  2017             96.2
684      4  2017            100.0
685      5  2017             97.7
686      6  2017             94.6
687      7  2017             99.2
688      8  2017             97.8
689      9  2017             98.2
690     10  2017             98.8
691     11  2017             98.7
692     12  2017             98.7
693      1  2017             97.3
694      2  2017             96.2
695      3  2017             96.9
696      4  2017             97.9
697      5  2017             99.4
698      6  2017             99.2
699      7  2017             85.7
700      8  2017             91.8
701      9  2017             96.3
702     10  2017             93.2
703     11  2017             95.2
704     12  2017             98.4

[705 rows x 3 columns]

In [3]:
def getDf(fileName):                       # Function to read file and store data in a dataframe
    df = pd.read_csv(fileName)             # df is my dataframe with all the values
    return df                              # Returns the dataframe

      Month     Year  Percent On-Time
0 -0.786027 -2.42272        -2.269791
1 -0.491893 -2.42272        -2.498717
2 -0.197758 -2.42272        -2.727644
3  0.096376 -2.42272        -2.361361
4  0.390510 -2.42272        -2.452932

In [ ]:
def encodeSubsidiary(df):                             # Encodes the categorical subsidiaries to numerical values
    df.Subsidiary = pd.Categorical(df.Subsidiary)
    df['Subsidiary'] = df.Subsidiary.cat.codes
    return df                                         # Returns the modified dataframe

In [ ]:
def getFeatureValues(df):                # Gets the feature matrix
    featureData = df.iloc[:,0:3]
    return featureData.values

In [ ]:
FirstThree = df.iloc[:,1:4]
FirstThree

In [ ]:
def normalize(m):
    m = (m-m.mean())/m.std()
    m